<!DOCTYPE html>
<html>
	<head>
		<title>LetsShill</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel = "stylesheet" href ="static/landingstyle.css">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="static/style.css">
	</head>
	<body>
		<!-- NAVBAR -->
		<!-- <header id="navigation">
			<div id="logo">
          		<a href="index.html"><img src="logo.png"></a>
      		</div>
			<div id="right_most">
				<button id = "signup"><a href="signup.html">Sign Up</a></button>
				<button id = "login"><a href="login.html">Login</a></button>
			</div>
		</header> -->
		<body>
			<div id="jumbo">
				<div id="logo"><img src="static/logo.png"></div>
				<p id="txt">Share your projects and Grow with your peers.</p>
				<div id="links">
					<div id="si">
						<a href="login.html">Login</a>
					</div>
					<div id="lo">
						<a href="signup.html">Get Started</a>
					</div>
					
				</div>
			</div>
		</body>
			